<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CustomerOrderMapper">
    
    <resultMap type="CustomerOrder" id="CustomerOrderResult">
        <result property="id"    column="id"    />
        <result property="salepersonId"    column="saleperson_id"    />
        <result property="salepersonName"    column="saleperson_name"    />
        <result property="customerSource"    column="customer_source"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerPhone"    column="customer_phone"    />
        <result property="responsiblePerson"    column="responsible_person"    />
        <result property="responsiblePhone"    column="responsible_phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="town"    column="town"    />
        <result property="community"    column="community"    />
        <result property="address"    column="address"    />
        <result property="otherContactName"    column="other_contact_name"    />
        <result property="otherContactPhone"    column="other_contact_phone"    />
        <result property="buyCategories"    column="buy_categories"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="amount"    column="amount"    />
        <result property="payStatus"    column="pay_status"    />
    </resultMap>

    <sql id="selectCustomerOrderVo">
        select id, saleperson_id, saleperson_name, customer_source, customer_name, customer_phone, responsible_person, responsible_phone, province, city, district, town, community, address, other_contact_name, other_contact_phone, buy_categories, remark, create_by, create_time, update_by, update_time, amount, pay_status from customer_order
    </sql>

    <select id="selectCustomerOrderList" parameterType="CustomerOrder" resultMap="CustomerOrderResult">
        <include refid="selectCustomerOrderVo"/>
        <where>  
            <if test="salepersonName != null  and salepersonName != ''"> and saleperson_name like concat('%', #{salepersonName}, '%')</if>
            <if test="customerSource != null "> and customer_source = #{customerSource}</if>
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="customerPhone != null  and customerPhone != ''"> and customer_phone = #{customerPhone}</if>
            <if test="responsiblePerson != null  and responsiblePerson != ''"> and responsible_person = #{responsiblePerson}</if>
            <if test="responsiblePhone != null  and responsiblePhone != ''"> and responsible_phone = #{responsiblePhone}</if>
            <if test="otherContactPhone != null  and otherContactPhone != ''"> and other_contact_phone = #{otherContactPhone}</if>
            <if test="buyCategories != null  and buyCategories != ''"> and buy_categories = #{buyCategories}</if>
            <if test="payStatus != null "> and pay_status = #{payStatus}</if>
        </where>
    </select>
    
    <select id="selectCustomerOrderById" parameterType="Long" resultMap="CustomerOrderResult">
        <include refid="selectCustomerOrderVo"/>
        where id = #{id}
    </select>
    <select id="selectByInfo" resultType="com.ruoyi.system.domain.CustomerOrder">
        <include refid="selectCustomerOrderVo"/>
        <if test="customerName != null  and customerName != ''">
            where customer_name like concat('%', #{keyword}, '%') or customer_phone like concat('%', #{keyword}, '%')
        </if>
        order by id desc
        limit 0,10
    </select>

    <insert id="insertCustomerOrder" parameterType="CustomerOrder" useGeneratedKeys="true" keyProperty="id">
        insert into customer_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="salepersonId != null">saleperson_id,</if>
            <if test="salepersonName != null and salepersonName != ''">saleperson_name,</if>
            <if test="customerSource != null">customer_source,</if>
            <if test="customerName != null and customerName != ''">customer_name,</if>
            <if test="customerPhone != null and customerPhone != ''">customer_phone,</if>
            <if test="responsiblePerson != null and responsiblePerson != ''">responsible_person,</if>
            <if test="responsiblePhone != null and responsiblePhone != ''">responsible_phone,</if>
            <if test="province != null and province != ''">province,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="district != null and district != ''">district,</if>
            <if test="town != null and town != ''">town,</if>
            <if test="community != null and community != ''">community,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="otherContactName != null and otherContactName != ''">other_contact_name,</if>
            <if test="otherContactPhone != null and otherContactPhone != ''">other_contact_phone,</if>
            <if test="buyCategories != null and buyCategories != ''">buy_categories,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="amount != null">amount,</if>
            <if test="payStatus != null">pay_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="salepersonId != null">#{salepersonId},</if>
            <if test="salepersonName != null and salepersonName != ''">#{salepersonName},</if>
            <if test="customerSource != null">#{customerSource},</if>
            <if test="customerName != null and customerName != ''">#{customerName},</if>
            <if test="customerPhone != null and customerPhone != ''">#{customerPhone},</if>
            <if test="responsiblePerson != null and responsiblePerson != ''">#{responsiblePerson},</if>
            <if test="responsiblePhone != null and responsiblePhone != ''">#{responsiblePhone},</if>
            <if test="province != null and province != ''">#{province},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="district != null and district != ''">#{district},</if>
            <if test="town != null and town != ''">#{town},</if>
            <if test="community != null and community != ''">#{community},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="otherContactName != null and otherContactName != ''">#{otherContactName},</if>
            <if test="otherContactPhone != null and otherContactPhone != ''">#{otherContactPhone},</if>
            <if test="buyCategories != null and buyCategories != ''">#{buyCategories},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="amount != null">#{amount},</if>
            <if test="payStatus != null">#{payStatus},</if>
         </trim>
    </insert>

    <update id="updateCustomerOrder" parameterType="CustomerOrder">
        update customer_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="salepersonId != null">saleperson_id = #{salepersonId},</if>
            <if test="salepersonName != null and salepersonName != ''">saleperson_name = #{salepersonName},</if>
            <if test="customerSource != null">customer_source = #{customerSource},</if>
            <if test="customerName != null and customerName != ''">customer_name = #{customerName},</if>
            <if test="customerPhone != null and customerPhone != ''">customer_phone = #{customerPhone},</if>
            <if test="responsiblePerson != null and responsiblePerson != ''">responsible_person = #{responsiblePerson},</if>
            <if test="responsiblePhone != null and responsiblePhone != ''">responsible_phone = #{responsiblePhone},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="town != null and town != ''">town = #{town},</if>
            <if test="community != null and community != ''">community = #{community},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="otherContactName != null and otherContactName != ''">other_contact_name = #{otherContactName},</if>
            <if test="otherContactPhone != null and otherContactPhone != ''">other_contact_phone = #{otherContactPhone},</if>
            <if test="buyCategories != null and buyCategories != ''">buy_categories = #{buyCategories},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteCustomerOrderById" parameterType="Long">
        update customer_order set deleted = 1 where id = #{id}
    </update>

    <update id="deleteCustomerOrderByIds" parameterType="String">
        update customer_order set deleted = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>