<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StockFloorMapper">
    
    <resultMap type="StockFloor" id="StockFloorResult">
        <result property="id"    column="id"    />
        <result property="supplyId"    column="supply_id"    />
        <result property="supplyName"    column="supply_name"    />
        <result property="floorType"    column="floor_type"    />
        <result property="floorSpec"    column="floor_spec"    />
        <result property="floorNumber"    column="floor_number"    />
        <result property="stockCount"    column="stock_count"    />
        <result property="floorArea"    column="floor_area"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStockFloorVo">
        select id, supply_id, supply_name, floor_type, floor_spec, floor_number, stock_count, floor_area, create_by, create_time, update_by, update_time from stock_floor
    </sql>

    <select id="selectStockFloorList" parameterType="StockFloor" resultMap="StockFloorResult">
        <include refid="selectStockFloorVo"/>
        <where>  
            <if test="supplyId != null "> and supply_id = #{supplyId}</if>
            <if test="supplyName != null  and supplyName != ''"> and supply_name like concat('%', #{supplyName}, '%')</if>
            <if test="floorType != null "> and floor_type = #{floorType}</if>
            <if test="floorSpec != null  and floorSpec != ''"> and floor_spec = #{floorSpec}</if>
            <if test="floorNumber != null  and floorNumber != ''"> and floor_number = #{floorNumber}</if>
            <if test="stockCount != null "> and stock_count = #{stockCount}</if>
        </where>
    </select>
    
    <select id="selectStockFloorById" parameterType="Long" resultMap="StockFloorResult">
        <include refid="selectStockFloorVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStockFloor" parameterType="StockFloor" useGeneratedKeys="true" keyProperty="id">
        insert into stock_floor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplyId != null">supply_id,</if>
            <if test="supplyName != null and supplyName != ''">supply_name,</if>
            <if test="floorType != null">floor_type,</if>
            <if test="floorSpec != null and floorSpec != ''">floor_spec,</if>
            <if test="floorNumber != null and floorNumber != ''">floor_number,</if>
            <if test="stockCount != null">stock_count,</if>
            <if test="floorArea != null and floorArea != ''">floor_area,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplyId != null">#{supplyId},</if>
            <if test="supplyName != null and supplyName != ''">#{supplyName},</if>
            <if test="floorType != null">#{floorType},</if>
            <if test="floorSpec != null and floorSpec != ''">#{floorSpec},</if>
            <if test="floorNumber != null and floorNumber != ''">#{floorNumber},</if>
            <if test="stockCount != null ">#{stockCount},</if>
            <if test="floorArea != null and floorArea != ''">floor_area = #{floorArea},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockFloor" parameterType="StockFloor">
        update stock_floor
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplyId != null">supply_id = #{supplyId},</if>
            <if test="supplyName != null and supplyName != ''">supply_name = #{supplyName},</if>
            <if test="floorType != null">floor_type = #{floorType},</if>
            <if test="floorSpec != null and floorSpec != ''">floor_spec = #{floorSpec},</if>
            <if test="floorNumber != null and floorNumber != ''">floor_number = #{floorNumber},</if>
            <if test="stockCount != null">stock_count = #{stockCount},</if>
            <if test="floorArea != null and floorArea != ''">floor_area = #{floorArea},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockFloorById" parameterType="Long">
        delete from stock_floor where id = #{id}
    </delete>

    <delete id="deleteStockFloorByIds" parameterType="String">
        delete from stock_floor where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>