<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('地板计算')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div id="search-collapse" class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>地板系列：</label>
                                <select name="floorSpec" id="floorSpec" th:with="type=${@dict.getType('floor_spec')}" required>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel+'【'+dict.dictValue+'】'}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>起头方式：</label>
                                <select name="floorStartWay" id="floorStartWay" th:with="type=${@dict.getType('floor_start_way')}" required>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li shiro:hasPermission="floor:calc:add">
                                <label>客户名称：</label>
                                <input type="hidden" name="customerId" id="customerId">
                                <div class="input-group">
                                    <input type="text" name="customerInfo" class="form-control" id="customerInfo">
                                    <div class="input-group-btn" style="width: 10%;">
                                        <button type="button" class="btn btn-white dropdown-toggle" style="height: 31px" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <div class="bootstrap-table bootstrap3">
                    <div class="fixed-table-toolbar">
                        <div class="bs-bars pull-left">
                            <div class="btn-group-sm" id="toolbar" role="group">
                                <a class="btn btn-default" onclick="addTR()">
                                    <i class="fa fa-plus"></i> 添加行
                                </a>
                                <a class="btn btn-info" onclick="calcFloor()">
                                    <i class="fa fa-calculator"></i> 计算
                                </a>
                                <a class="btn btn-success" onclick="save()" shiro:hasPermission="floor:calc:add">
                                    <i class="fa fa-floppy-o"></i> 保存
                                </a>
                            </div>
                        </div>
                        <div class="columns columns-right btn-group pull-right">
                            <button class="btn btn-default btn-outline" type="button" id="search" name="search" aria-label="隐藏/显示搜索" title="隐藏/显示搜索">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button class="btn btn-default btn-outline" type="button" name="refresh" aria-label="刷新" title="刷新">
                                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                            </button>
                        </div>
                    </div>
                    <div class="fixed-table-container">
                        <div class="fixed-table-body">
                            <ul>
                                <li>
                                    <label>测量面积：<span id="measureFloorArea"></span>㎡</label>
                                </li>
                                <li>
                                    <label>预计安装面积：<span id="installFloorArea"></span>㎡</label>
                                    <label>预计安装块数：<span id="installFloorBlock"></span>块</label>
                                </li>
                                <li>
                                    <label style="color: red">发货面积：<span id="sendFloorArea"></span>㎡</label>
                                    <label>发货件数：<span id="sendFloorBox"></span>件</label>
                                    <label>发货块数：<span id="sendFloorBlock"></span>块</label>
                                </li>
                            </ul>
                        </div>
                        <div class="fixed-table-body">
                            <table id="bootstrap-table">
                                <thead>
                                <tr>
                                    <th style="text-align: center">序号</th>
                                    <th style="text-align: center">长(mm)</th>
                                    <th style="text-align: center">宽(mm)</th>
                                    <th style="text-align: center">操作</th>
                                </tr>
                                </thead>
                                <tbody id="floorTbody">
                                <tr id="floorTr">
                                    <td class="floorTd">1</td>
                                    <td><input name="areaWidth" class="form-control" type="number"></td>
                                    <td><input name="areaLength" class="form-control" type="number"></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" onclick="removeTR(this)">
                                            <i class="fa fa-remove"></i> 删除行
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="floorTd">2</td>
                                    <td><input name="areaWidth" class="form-control" type="number"></td>
                                    <td><input name="areaLength" class="form-control" type="number"></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" onclick="removeTR(this)">
                                            <i class="fa fa-remove"></i> 删除行
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="floorTd">3</td>
                                    <td><input name="areaWidth" class="form-control" type="number"></td>
                                    <td><input name="areaLength" class="form-control" type="number"></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" onclick="removeTR(this)">
                                            <i class="fa fa-remove"></i> 删除行
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="floorTd">4</td>
                                    <td><input name="areaWidth" class="form-control" type="number"></td>
                                    <td><input name="areaLength" class="form-control" type="number"></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" onclick="removeTR(this)">
                                            <i class="fa fa-remove"></i> 删除行
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="floorTd">5</td>
                                    <td><input name="areaWidth" class="form-control" type="number"></td>
                                    <td><input name="areaLength" class="form-control" type="number"></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" onclick="removeTR(this)">
                                            <i class="fa fa-remove"></i> 删除行
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="fixed-table-footer"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-suggest-js" />
    <script th:inline="javascript">
        var floorSpecDatas = [[${@dict.getType('floor_spec')}]];
        var prefix = ctx + "order/floor/calc";
        function save(){
            var floorCalcReq = {};
            var calcParams = buildUpParam();
            if(calcParams.length == 0){
                $.modal.msg('无需保存');
                return;
            }
            floorCalcReq.calcParams = calcParams;
            var customerId = $('#customerInfo').attr('data-id');
            if(undefined == customerId || '' == customerId){
                $.modal.msg('请选择客户');
                return;
            }
            floorCalcReq.customerId = customerId;
            floorCalcReq.customerInfo = $('#customerInfo').val();
            $.ajax({
                type: 'POST',
                url: ctx + 'order/floor/calc/add',
                data: JSON.stringify(floorCalcReq),
                contentType: "application/json",
                dataType: "json",
                success: function(result){
                    if(result.code == 0){

                    }else{
                        $.modal.msg(data.msg);
                    }
                }
            });
        }
        $(function (){
            renderSN();
        })
        $("#search").click(function (){
            $('#search-collapse').toggle();
        });
        function addTR(){
            let $td = $('#floorTr').clone();
            $('#bootstrap-table').append($td);
            $('#bootstrap-table tr:last').find(':input').val('');
            renderSN();
        }
        function removeTR(curTr){
            let $td = $('#floorTr').clone();
            if($td.length == 0){
                $('#bootstrap-table tr:last').attr('id','floorTr');
            }
            let rows = $('#floorTbody').children('tr');
            if(rows.length == 1){
                $.modal.msgWarning('至少保留一行');
                return;
            }
            $(curTr).parent().parent().remove();
            renderSN();
        }
        // 重新渲染序号列
        function renderSN(){
            var i = 1;
            $('.floorTd').each(function (){
                $(this).html(i++);
            });
        }
        function buildUpParam(){
            var calcParams = [];
            let rows = $('#floorTbody').children('tr');
            for(var i=0;i<rows.length;i++){
                var data = {};
                var tdArr = rows.eq(i).find('td');
                data.measureLength = tdArr.eq(1).find('input').val();
                data.measureWidth = tdArr.eq(2).find('input').val();
                if(data.measureLength.trim().length == 0 || data.measureWidth.trim().length == 0){
                    continue;
                }
                calcParams.push(data);
            }
            return calcParams;
        }
        // 计算地板
        function calcFloor(){
            var floorCalcReq = {};
            var calcParams = buildUpParam();
            if(calcParams.length == 0){
                $.modal.msg('无需计算');
                return;
            }
            floorCalcReq.calcParams = calcParams;
            floorCalcReq.floorSpec = $('#floorSpec').find('option:selected').val();
            floorCalcReq.floorStartWay  = $('#floorStartWay').find('option:selected').val();
            $.ajax({
                type: 'POST',
                url: ctx + 'order/floor/calc/calcFloor',
                data: JSON.stringify(floorCalcReq),
                contentType: "application/json",
                dataType: "json",
                success: function(result){
                    if(result.code == 0){
                        var floorCalcResult = result.data.floorCalcResult;
                        $('#measureFloorArea').html((floorCalcResult.measureFloorArea / 1000000).toFixed(4));
                        $('#installFloorArea').html((floorCalcResult.installFloorArea / 1000000).toFixed(4));
                        $('#installFloorBlock').html(floorCalcResult.installFloorBlock);
                        $('#sendFloorArea').html((floorCalcResult.sendFloorArea / 1000000).toFixed(4));
                        $('#sendFloorBlock').html(floorCalcResult.sendFloorBlock);
                        $('#sendFloorBox').html(floorCalcResult.sendFloorBox);
                    }else{
                        $.modal.msg(data.msg);
                    }
                }
            });
        }
        // 根据手机号、姓名、地址 获取 客户
        var customerSuggest = $("#customerInfo").bsSuggest({
            url: ctx + "order/customer/selectByInfo?keyword=",
            idField: "id",
            keyField: "customerInfo",
            effectiveFields: ["customerName","customerPhone","community","address","remark"],
            effectiveFieldsAlias: {"customerName":"客户名","customerPhone":"电话","community":"小区","address":"地址","remark":"备注"},
            getDataMethod: 'url',
            clearable: true
        }).on('onDataRequestSuccess', function (e, result) {
            console.log('onDataRequestSuccess: ', result);
        }).on('onSetSelectValue', function (e, keyword) {
            console.log('onSetSelectValue: ', keyword);
        }).on('onUnsetSelectValue', function (e) {
            console.log("onUnsetSelectValue");
        });
    </script>
</body>
</html>