<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增地板报价')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-floorBid-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">品牌：</label>
                <div class="col-sm-8">
                    <select name="supplyId" class="form-control m-b" th:with="type=${@dict.getType('floor_supply')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">地板类型：</label>
                <div class="col-sm-8">
                    <select name="floorType" class="form-control m-b" th:with="type=${@dict.getType('floor_type')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">型号/编号/系列：</label>
                <div class="col-sm-8">
                    <input name="floorNumber" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">地板规格：</label>
                <div class="col-sm-8">
                    <input name="floorSpec" class="form-control" type="text" required placeholder="例如：1221*168*12*10P">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">等级：</label>
                <div class="col-sm-8">
                    <input name="floorRank" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">价格：</label>
                <div class="col-sm-8">
                    <input name="price" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">采购价：</label>
                <div class="col-sm-8">
                    <input name="visiblePrice" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">市场价：</label>
                <div class="col-sm-8">
                    <input name="marketPrice" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">建议成交价：</label>
                <div class="col-sm-8">
                    <input name="tradePrice" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">直供价(分销商)：</label>
                <div class="col-sm-8">
                    <input name="directPrice" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">合作价：</label>
                <div class="col-sm-8">
                    <input name="cooperatePrice" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">工艺：</label>
                <div class="col-sm-8">
                    <input name="technology" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">扣型：</label>
                <div class="col-sm-8">
                    <select name="buckleType" class="form-control m-b" th:with="type=${@dict.getType('floor_buckle_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "bid/floorBid"
        $("#form-floorBid-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-floorBid-add').serialize());
            }
        }
    </script>
</body>
</html>