<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bid.mapper.FloorBidMapper">
    
    <resultMap type="FloorBid" id="FloorBidResult">
        <result property="id"    column="id"    />
        <result property="supplyId"    column="supply_id"    />
        <result property="floorType"    column="floor_type"    />
        <result property="woodType"    column="wood_type"    />
        <result property="floorNumber"    column="floor_number"    />
        <result property="floorSpec"    column="floor_spec"    />
        <result property="floorRank"    column="floor_rank"    />
        <result property="price"    column="price"    />
        <result property="price3"    column="price3"    />
        <result property="technology"    column="technology"    />
        <result property="buckleType"    column="buckle_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFloorBidVo">
        select id, supply_id, floor_type, wood_type, floor_number, floor_spec, floor_rank, price, price3, technology, buckle_type, create_by, create_time, update_by, update_time, remark from floor_bid
    </sql>

    <select id="selectFloorBidList" parameterType="FloorBid" resultMap="FloorBidResult">
        <include refid="selectFloorBidVo"/>
        <where>  
            <if test="supplyId != null "> and supply_id = #{supplyId}</if>
            <if test="floorType != null "> and floor_type = #{floorType}</if>
            <if test="woodType != null  and woodType != ''"> and wood_type = #{woodType}</if>
            <if test="floorNumber != null  and floorNumber != ''"> and floor_number = #{floorNumber}</if>
            <if test="floorSpec != null  and floorSpec != ''"> and floor_spec = #{floorSpec}</if>
            <if test="floorRank != null  and floorRank != ''"> and floor_rank = #{floorRank}</if>
            <if test="price3 != null "> and price3 = #{price3}</if>
            <if test="technology != null  and technology != ''"> and technology = #{technology}</if>
            <if test="buckleType != null "> and buckle_type = #{buckleType}</if>
        </where>
    </select>
    
    <select id="selectFloorBidById" parameterType="Long" resultMap="FloorBidResult">
        <include refid="selectFloorBidVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFloorBid" parameterType="FloorBid" useGeneratedKeys="true" keyProperty="id">
        insert into floor_bid
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplyId != null">supply_id,</if>
            <if test="floorType != null">floor_type,</if>
            <if test="woodType != null and woodType != ''">wood_type,</if>
            <if test="floorNumber != null and floorNumber != ''">floor_number,</if>
            <if test="floorSpec != null and floorSpec != ''">floor_spec,</if>
            <if test="floorRank != null and floorRank != ''">floor_rank,</if>
            <if test="price != null">price,</if>
            <if test="price3 != null">price3,</if>
            <if test="technology != null and technology != ''">technology,</if>
            <if test="buckleType != null">buckle_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplyId != null">#{supplyId},</if>
            <if test="floorType != null">#{floorType},</if>
            <if test="woodType != null and woodType != ''">#{woodType},</if>
            <if test="floorNumber != null and floorNumber != ''">#{floorNumber},</if>
            <if test="floorSpec != null and floorSpec != ''">#{floorSpec},</if>
            <if test="floorRank != null and floorRank != ''">#{floorRank},</if>
            <if test="price != null">#{price},</if>
            <if test="price3 != null">#{price3},</if>
            <if test="technology != null and technology != ''">#{technology},</if>
            <if test="buckleType != null">#{buckleType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFloorBid" parameterType="FloorBid">
        update floor_bid
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplyId != null">supply_id = #{supplyId},</if>
            <if test="floorType != null">floor_type = #{floorType},</if>
            <if test="woodType != null and woodType != ''">wood_type = #{woodType},</if>
            <if test="floorNumber != null and floorNumber != ''">floor_number = #{floorNumber},</if>
            <if test="floorSpec != null and floorSpec != ''">floor_spec = #{floorSpec},</if>
            <if test="floorRank != null and floorRank != ''">floor_rank = #{floorRank},</if>
            <if test="price != null">price = #{price},</if>
            <if test="price3 != null">price3 = #{price3},</if>
            <if test="technology != null and technology != ''">technology = #{technology},</if>
            <if test="buckleType != null">buckle_type = #{buckleType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFloorBidById" parameterType="Long">
        delete from floor_bid where id = #{id}
    </delete>

    <delete id="deleteFloorBidByIds" parameterType="String">
        delete from floor_bid where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>