<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改客户')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-customer-edit" th:object="${customerOrder}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">销售员名称：</label>
            <div class="col-sm-8">
                <input name="salepersonName" th:field="*{salepersonName}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">客户来源：</label>
            <div class="col-sm-8">
                <select name="customerSource" class="form-control m-b" th:with="type=${@dict.getType('customer_source')}" required>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{customerSource}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">客户名称：</label>
            <div class="col-sm-8">
                <input name="customerName" th:field="*{customerName}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系电话：</label>
            <div class="col-sm-8">
                <input name="customerPhone" th:field="*{customerPhone}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人：</label>
            <div class="col-sm-8">
                <input name="responsiblePerson" th:field="*{responsiblePerson}" class="form-control" type="text" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人电话：</label>
            <div class="col-sm-8">
                <input name="responsiblePhone" th:field="*{responsiblePhone}" class="form-control" type="text" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">小区：</label>
            <div class="col-sm-8">
                <input name="community" th:field="*{community}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">楼牌号：</label>
            <div class="col-sm-8">
                <input name="address" th:field="*{address}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">其它联系人：</label>
            <div class="col-sm-8">
                <input name="otherContactName" th:field="*{otherContactName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">其它联系人电话：</label>
            <div class="col-sm-8">
                <input name="otherContactPhone" th:field="*{otherContactPhone}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">选购品类：</label>
            <div class="col-sm-8" th:with="type=${@dict.getType('category')}">
                <label th:each="dict : ${type}" class="check-box">
                    <input name="buyCategories" type="checkbox" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" th:attr="checked=${customerOrder.buyCategories.contains(dict.dictValue)?true:false}">
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control">[[*{remark}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">订单金额：</label>
            <div class="col-sm-8">
                <input name="amount" th:field="*{amount}" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">支付状态：</label>
            <div class="col-sm-8">
                <select name="payStatus" class="form-control m-b" th:with="type=${@dict.getType('pay_status')}" required>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{payStatus}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "order/customer";
    $("#form-customer-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-customer-edit').serialize());
        }
    }
</script>
</body>
</html>